.addnewCardMain{
    float: right;
    width: 25%;
    background-color: #D1D9E1;
    min-height: 100px;
    word-break: break-word;    
    margin: 11px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
}

.addlistbutton{
    color: white;
    background-color: black;
    border-radius: 4px;
    font-weight: 700;
    padding: 3px;
    margin: 3px;
}