.mainCard{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.topCard{
    background-color: white;
    padding: 11px;
    border-radius: 6px;
    margin: 5px;
}
.topCard:hover{
background-color:#D3D3D3 ;
transition: 1s ease-in-out;
color:navy;
}

.description{
    margin-top: 16%;
}
